<template name="Admin">
	<div class="row">
		<div class="col l6 m12 s12" id="graph1"></div>
		<div class="col l6 m12 s12" id="graph2"></div>
	</div>
	<div class="row">
		<div class="col m12 s12" id="graph3"></div>
	</div>
</template>