<template name="annonce">
    <div class="container">
        <div class="card">
            <div class="card-content row">
                <div class="col l4">
                    <span class="new badge {{color}}" data-badge-caption=""><h5>{{status}}</h5></span>
                    {{#if picture}}
                        <div class="carousel carousel-slider center">
                            {{#each picture}}
                                <a class="carousel-item"><img src="{{url}}" ></a>
                            {{/each}}
                        </div>
                    {{else}}
                        <img class="img-responsive" src="/photo_default.jpg">
                    {{/if}}
                </div>
                <div class="col l8">
                    <div class="page-header blue-text">
                        <h1>{{title}}<br><small> {{category}}</small></h1>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col m12">
                                <a href="{{pathFor 'siteItem' _id=site}}">{{place}}</a>
                                <div class="tooltipped" data-position="left" data-tooltip="{{quality}}">
                                    {{#each star}}
                                        <i class="material-icons blue-text" >star</i>
                                    {{/each}}
                                </div>
                                <div class="chip orange">
                                    {{quantity}} unité(s) du produit
                                </div>
                                {{#if reserved}}
                                <button type="button" class="btn blue white-text"  aria-haspopup="true" aria-expanded="false">Réserver</button>
                                {{/if}}
                                <hr>
                                {{#if reservations}}
                                    Annonce réservée par {{reservations}}
                                {{/if}}
                            </div>
                        </div>
                        {{description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
