<template name="annonceSetting">
        <a href="{{pathFor 'annonceEdit'}}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">edit</i></a>
        <button type="button" class="btn-floating btn waves-effect waves-light red delete"><i class="material-icons">delete</i></button>
</template>
