<template name="listeAnnonces">
	<div class="container">
		<div class="card">
			<form class="row card-content">
				<div class="input-field col s12">
		        	<i class="material-icons prefix">search</i>
		          	<input id="search" type="text" class="validate">
		          	<label for="search">Mots-clés</label>
		        </div>
		        <div class="input-field col s6">
				    <select multiple id="categories">
				      	<option value="" disabled selected>Sélectionnez une/des catégorie/s</option>
				      	{{#each categories}}
				      		<option value="{{_id}}">{{label}}</option>
				      	{{/each}}
				    </select>
		          	<label for="categories">Catégiories</label>
				</div>
		        <div class="input-field col s6">
				    <select multiple id="sites">
				      	<option value="" disabled selected>Sélectionnez un/des site/s</option>
				      	{{#each sites}}
				      		<option value="{{_id}}">{{name}}</option>
				      	{{/each}}
				    </select>
		          	<label for="sites">Sites</label>
				</div>
		        <div class="input-field col s12 right-align">
				    <button id="valid" class="btn btn-primary">RECHERCHER</button>
				</div>
			</form>
		</div>
	</div>
    <div class="row" id="annonces">
	    {{#each annonce}}
	        {{>itemAnnonce}}
	    {{/each}}
    </div>
    <div class="center-align">
    	<a class="btn btn-primary" id="more">AFFICHER PLUS ...</a>
    </div>
</template>
