<template name="annonceAdd">
	<div class="container center-align">
		<div id="add" class="card center-align">
			{{#autoForm collection="Annonces" id="Annonce" type="insert"}}
	        	<div class="card-content blue-text">
	          		<span class="card-title">Ajouter une annonce</span>
					{{> afQuickField name='user' value=user}}
					{{> afQuickField name='title'}}
					{{> afQuickField name='site' value=site}}
					{{> afQuickField name='description'}}
					{{> afQuickField name='category'}}
					{{> afQuickField name='quantity' value=1}}
					{{> afQuickField name='rating'}}
					{{> afQuickField name='status'}}
					{{> afQuickField name='documents'}}
				</div>
	    		<div class="card-action center-align">
					<button type="submit" class="btn btn-primary">Ajouter</button>
					<button type="reset" class="btn btn-default red">Effacer</button>
				</div>
			{{/autoForm}}
		</div>
	</div>
</template>
