<template name="itemAnnonce">
    <div class="col l4">
        <div class="card {{color}} white-text">
            <div class="card-image waves-effect waves-block waves-light">
                {{#if picture}}
                    {{#each picture}}
                        <img class="activator img-responsive" src="{{url}}">
                    {{/each}}
                {{else}}
                    <img class="activator img-responsive" src="/photo_default.jpg">
                {{/if}}
            </div>
            <div class="card-content {{color}}">
                <span class="card-title activator">
                    {{title}}
                    <i class="material-icons right">more_vert</i>
                </span>
                <p>{{category}}</p>
            </div>
            <div class="card-reveal {{color}}">
                <span class="card-title">
                    {{title}}
                    <i class="material-icons right">close</i>
                </span>
                <p>{{description}}</p><br>
            </div>
            <div class="card-action {{color}}">
                <div class="row">
                    <div class="left-align col m4">
                        {{status}}
                    </div>
                    <div class="right-align col m8">
                        <a class="btn waves-effect waves-light white {{color}}-text" href="{{pathFor 'annonce' _id=this._id}}">
                            En voir plus...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
