<template name="annonceEdit">
    <div class="container center-align">
        <div id="add" class="card center-align">
            {{#autoForm collection="Annonces" id="Annonce" doc=this type="update"}}
                <div class="card-content blue-text">
                    <span class="card-title">Ajouter une annonce</span>
                    {{> afQuickField name='user' value=user}}
                    {{> afQuickField name='title'}}
                    {{> afQuickField name='site' value=site}}
                    {{> afQuickField name='description'}}
                    {{> afQuickField name='category'}}
                    {{> afQuickField name='quantity'}}
                    {{> afQuickField name='rating'}}
                    {{> afQuickField name='status'}}
                    {{> afQuickField name='documents' max=3}}
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <a href="{{pathFor 'userProfile'}}" class="btn btn-default red">Annuler</a>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>
