<template name="forgetPassword">
    <div class="container center-align">
        <div class="card center-align">
            <form>
                <div class="card-content blue-text">
                    <span class="card-title">Mot de passe oublié</span>
                    <div class="input-field">
                        <label for="forgotPasswordEmail">Email</label>
                        <input type="email" id="forgotPasswordEmail" />
                    </div>
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="waves-effect waves-light btn blue">Valider</button><br>
                </div>
            </form>
        </div>
    </div>
</template>