<template name="changePassword">
    <div class="container center-align">
        <div class="card center-align">
            <form>
                <div class="card-content blue-text">
                    <span class="card-title">Modifiez votre mot de passe</span>
                    <div class="input-field">
                        <label for="oldPassword">Ancien mot de passe :</label>
                        <input type="password" id="oldPassword" />
                    </div>
                    <div class="input-field">
                        <label for="newPassword">Nouveau mot de passe :</label>
                        <input type="password" id="newPassword" />
                    </div>
                    <div class="input-field">
                        <label for="confirmPassword">Confirmer mot de passe :</label>
                        <input type="password" id="confirmPassword" />
                    </div>
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="waves-effect waves-light btn blue">Valider</button><br>
                </div>
            </form>
        </div>
    </div>
</template>