<template name="resetPassword">
    <div class="container center-align">
        <div class="card center-align">
			{{#if resetPassword}}
            <form>
                <div class="card-content blue-text">
                    <span class="card-title">Réinitialiser votre mot de passe</span>
                    <div class="input-field">
                        <label for="newPassword">Nouveau mot de passe :</label>
                        <input type="password" id="newPassword" />
                    </div>
                    <div class="input-field">
                        <label for="confirmPassword">Confirmer mot de passe :</label>
                        <input type="password" id="confirmPassword" />
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="submit waves-effect waves-light btn blue">Valider</a>
                </div>
            </form>
			{{else}}
                <div class="card-content red white-text">
				  <h3 class="card-title">Ce lien a expiré!</h3>
				  <h5><a class="white-text" href="{{pathFor 'forgetPassword'}}" >Veuillez générer un nouveau mot de passe</a></h5>
				</div>
		    {{/if}}
        </div>
    </div>
</template>