<template name="qualitiesList">
	<div class="row">
		<div class="col l4 m12 s12">
			<div class="card center-align">
				{{#autoForm collection="Qualities" id="AddQuality" type="insert"}}
	            	<div class="card-content blue-text">
	              		<span class="card-title">Nouveau critère d'évaluation</span>
						{{> afQuickField name='label'}}
						{{> afQuickField name='stars'}}
            		</div>
            		<div class="card-action center-align">
		            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Ajouter</button>
						<button type="reset" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</button>
            		</div>
				{{/autoForm}}
          	</div>
		</div>
		<div class="col l8 m12 s12">
			{{> tabular table=TabularTables.Qualities class="highlight bordered centered"}}
		</div>
	</div>
</template>
