<template name="userProfile">
    <div class="container">
        <div class="row">
            <div class="col m3 center-align">
                {{#if picture}}
                    {{#each picture}}
                        <img src="{{url}}">
                    {{/each}}
                {{else}}
                    <img src="/profile_default.png" alt="">
                {{/if}}
                <a class="btn-floating btn waves-effect waves-light" href="{{pathFor 'userUpdate' _id=currentUser._id}}"><i class="material-icons">edit</i></a>
                <a class="btn-floating btn waves-effect waves-light grey" href="{{pathFor 'changePassword'}}"><i class="material-icons">lock</i></a>
                {{#unless currentUser.profile.isAdmin}}
                <a class="btn-floating btn waves-effect waves-light orange" href="{{pathFor 'newslettersEdit'}}"><i class="material-icons">email</i></a>
                {{/unless}}
            </div>
            <div class="col m9">
                <h3>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</h3>
                <h4>{{email}}</h4>
                <h4>{{place}}</h4>
            </div>
        </div>
    </div>
    <div class="container">
        {{> tabular table=TabularTables.Annonces selector=me class="highlight responsive-table bordered centered"}}
    </div>
</template>
