<template name="login">
    <div class="container center-align">
        <div class="card center-align">
            <form>
                <div class="card-content blue-text">
                    <span class="card-title">Connectez-vous</span>
                    <div class="input-field">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" id="username" />
                    </div>
                    <div class="input-field">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password"/>
                    </div>
                </div>
                <div class="card-action center-align">
                    <button type="submit" class="waves-effect waves-light btn blue">Valider</button><br>
                    <a href="{{pathFor 'forgetPassword'}}">Mot de passe oublié?</a>
                </div>
            </form>
        </div>
    </div>
</template>