<template name="userItem">
    <li class="collection-item avatar">
      {{#if picture}}
        {{#each picture}}
          <img src="{{url}}" alt="" class="circle">
        {{/each}}
      {{else}}
          <img src="/profile_default.png" alt="" class="circle">
      {{/if}}
        <span class="title">{{profile.firstname}} {{profile.lastname}}</span>
        <p>
      	{{site}}<br>
      	{{#if profile.isAdmin}}Administrateur<br>{{/if}}
        {{#each emails}}
				    {{address}}<br>
        {{/each}}
		    </p>
      	<div class="secondary-content">
      		  <a href="{{pathFor 'userUpdate'}}" class="btn-floating btn waves-effect grey waves-light"><i class="material-icons">edit</i></a>
            <button type="button" class="btn-floating btn waves-effect waves-light orange delete"><i class="material-icons">delete</i></button>
      	</div>
    </li>
</template>
