<template name="usersList">	
	<div class="container">
		<div class="center-align">
			<h1 class="blue-text">Utilisateurs</h1>
			<a type="button" class="btn waves-effect waves-light orange" href="{{pathFor 'userAdd'}}">Ajouter un utilisateur</a>
		</div>
		<ul class="collection">
			{{#each users}}
    			{{> userItem}}
			{{/each}}
  		</ul>
	</div>
</template>