<template name="userAdd">
	<div class="container center-align">
		<div class="card">
			<form id="formUser">
	        	<div class="card-content blue-text">
	          		<span class="card-title center-align">Nouvel utilisateur</span>
					<div class="input-field">
						<label for="lastname">Nom :</label>
						<input type="text" id="lastname">
					</div>
					<div class="input-field">
						<label for="firstname">Prénom :</label>
						<input type="text" id="firstname">
					</div>
					<div class="input-field">
						<label for="email">Email :</label>
						<input type="email" id="email">
					</div>
					<div class="input-field">
						<select id="site">
							{{#each allSites}}
								<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
						<label for="site">Site :</label>
					</div>
					<div class="input-field left-align">
						<input type="checkbox" id="isAdmin"/>
      					<label for="isAdmin">Administrateur</label>
    				</div>
					<div class="input-field">
						<label for="password">Mot de passe :</label>
						<input type="password" id="password"/>
					</div>
					<div class="input-field">
						<label for="repassword">Vérification du mot de passe:</label>
						<input type="password" id="repassword"/>
					</div>
					<div class="file-field input-field">
     					<div class="btn">
        					<span>Photo de profil</span>
        					<input type="file" id="photoUser">
      					</div>
      					<div class="file-path-wrapper">
        					<input class="file-path validate" type="text">
      					</div>
    				</div>
				</div>
	    		<div class="card-action center-align">
	            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Ajouter</button>
					<button type="reset" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Effacer</button>
	    		</div>
			</form>
		</div>
	</div>
</template>
