<template name="userUpdate">
	<div class="container center-align">
		<div id="add" class="card center-align">
			{{#autoForm collection="Meteor.users" id="userUpdate" doc=this type="update"}}
	        	<div class="card-content blue-text">
	          		<span class="card-title">Modifer l'utilisateur</span>
					{{> afQuickField name="profile.firstname" }}
					{{> afQuickField name="profile.lastname"}}
					{{> afQuickField name="profile.site"}}
					{{#if currentUser.profile.isAdmin}}
						{{> afQuickField name="profile.isAdmin"}}
					{{/if}}
					{{> afQuickField name="profile.picture"}}
				</div>
	    		<div class="card-action center-align">
	            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Modifier</button>
					<a href="{{pathFor 'usersList'}}" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</a>
	    		</div>
			{{/autoForm}}
	  	</div>
	</div>
</template>