/* Design général */
#main {
    padding-top: 2%;
    height: 100%;
}
.btn, .btn-large {
    background-color: #00469B ;
}
img {
    width: 100%;
}


.btn:hover, .btn-large:hover {
    background-color: #cce0ee ;
}


/* Design Menu */
.brand-logo {
    font-family: Arial;
}
nav a:hover {
    color: white;
    text-decoration: none;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

/* Design Formulaire */
input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]) , 
input[type=datetime]:focus:not([readonly]) , 
input[type=datetime-local]:focus:not([readonly]) , 
input[type=tel]:focus:not([readonly]) , 
input[type=number]:focus:not([readonly]) ,
input[type=search]:focus:not([readonly]) , 
textarea.materialize-textarea:focus:not([readonly])  {
    border-bottom-color: #00469B ;
    box-shadow: 0 1px 0 0 #00469B ;
}
.dropdown-content li > a, .dropdown-content li > span,
input[type=text]:focus:not([readonly]) + label, 
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label, 
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #00469B ;
}
[type="checkbox"]:checked + label:before{
    border-bottom-color: #00469B;
    border-right-color: #00469B;
}
[type="radio"]:checked + label:after, 
[type="radio"].with-gap:checked + label:after {
    background-color: #00469B;
}
[type="radio"]:checked + label:after, [
type="radio"].with-gap:checked + label:before, 
[type="radio"].with-gap:checked + label:after {
    border-color: #00469B;
}


/* Design tableaux */
table thead {
    background-color: #00469B;
    color: white;
}


/* Design des annonces*/
#annonces .card-image
{
    height: 400px;
}

.card-image 
{
    overflow: hidden;
}

.card-image img
{
    width:  100%;
}


.blue-text
{
    color: #00469B !important;
}

.orange-text
{
    color: #fabb00 !important;
}

.grey-text
{
    color: #6e6e6e !important;
}

.blue-light-text
{
    color: #cce0ee !important;
}

.orange-light-text
{
    color: #f6dd96 !important;
}

.grey-light-text
{
    color: #cfcfd1 !important;
}

.blue
{
    background-color: #00469B !important;
}

.orange
{
    background-color: #fabb00 !important;
}

.grey
{
    background-color: #6e6e6e !important;
}

.blue-light
{
    background-color: #cce0ee !important;
}

.orange-light
{
    background-color: #f6dd96 !important;
}

.grey-light
{
    background-color: #cfcfd1 !important;
}

.content
{
    border-radius: 40px;
    padding: 50px;
}


