<template name="siteSetting">
	<div class="btns">
		<a href="{{pathFor 'siteItem'}}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">visibility</i></a>
		<a href="{{pathFor 'siteEdit'}}" class="btn-floating btn waves-effect grey waves-light"><i class="material-icons">edit</i></a>
		<button type="button" class="btn-floating btn waves-effect waves-light orange delete"><i class="material-icons">delete</i></button>
	</div>
</template>