<template name="siteItem">
	<div class="row">
		<div class="col l12">
			<h4>{{name}}</h4>
			<p>{{address}}, {{zipCode}} - {{city}}</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col l4 center-align">
			{{#if picture}}
                {{#each picture}}
                    <img class="img-responsive" src="{{url}}">
                {{/each}}
            {{else}}
                <img class="img-responsive" src="/site_default.jpeg">
            {{/if}}
			<hr>
			{{#if CurrentUser.profile.isAdmin}}
				<a href="{{pathFor 'siteEdit'}}" class="btn-floating btn waves-effect grey waves-light">
					<i class="material-icons">edit</i>
				</a>
				<button type="button" class="btn-floating btn waves-effect waves-light orange delete">
					<i class="material-icons">delete</i>
				</button>
			{{/if}}
		</div>
		<div class="col l8">
			<div class="map-container">
				{{> googleMap name="map" options=mapOptions}}
			</div>
		</div>
	</div>
</template>