<template name="siteAdd">
	<div class="container center-align">
		<div id="add" class="card center-align">
			{{#autoForm collection="Sites" id="AddSites" type="insert"}}
	        	<div class="card-content blue-text">
	          		<span class="card-title">Nouveau Site</span>
					{{> afQuickField name="name"}}
					{{> afQuickField name="address"}}
					{{> afQuickField name="zipCode"}}
					{{> afQuickField name="city"}}
					{{> afQuickField name="longitude"}}
					{{> afQuickField name="latitude"}}
					{{> afQuickField name="picture"}}
	    		</div>
	    		<div class="card-action center-align">
	            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Ajouter</button>
					<button type="reset" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Effacer</button>
	    		</div>
			{{/autoForm}}
	  	</div>
	</div>
</template>