<template name="siteEdit">
	<div class="container center-align">
		<div id="add" class="card center-align">
			{{#autoForm collection="Sites" id="AddSites" type="update" doc=this}}
	        	<div class="card-content blue-text">
	          		<span class="card-title">Modification d'un site</span>
					{{> afQuickField name="name"}}
					{{> afQuickField name="address"}}
					{{> afQuickField name="zipCode"}}
					{{> afQuickField name="city"}}
					{{> afQuickField name="longitude"}}
					{{> afQuickField name="latitude"}}
					{{> afQuickField name="picture" label=false}}
	    		</div>
	    		<div class="card-action center-align">
	            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Modifier</button>
					<a href="{{pathFor 'sitesList'}}" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</a>
	    		</div>
			{{/autoForm}}
	  	</div>
	</div>
</template>