<template name="sitesList">
	<div class="center-align">
		<h1 class="blue-text">Sites</h1>
		<a type="button" class="btn waves-effect waves-light orange" href="{{pathFor 'siteAdd'}}">Nouveau site</a>
		<div>
			{{> tabular table=TabularTables.Sites class="highlight bordered centered"}}
		</div> 
	</div>
</template>