<template name="categoriesList">
	<div class="row">
		<div class="col l4 m12 s12 center-align">
			<div class="card center-align">
				{{#autoForm collection="Categories" id="AddCategory" type="method" meteormethod="insertCategories"}}
	            	<div class="card-content blue-text">
	              		<span class="card-title">Nouvelle catégorie de produit</span>
						{{> afQuickField name='label'}}
            		</div>
            		<div class="card-action center-align">
		            	<button type="submit" class="waves-effect waves-light btn blue"><i class="material-icons left">create</i>Ajouter</button>
						<button type="reset" class="waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</button>
            		</div>
				{{/autoForm}}
          	</div>
		</div>
		<div class="col l8 m12 s12 center-align">
			{{> tabular table=TabularTables.Categories class="highlight bordered centered"}}
		</div>
	</div>
</template>