<style type="text/css">
	html,body{
		padding: 0;
		margin: 0;
		text-align: justify;
		background-color: #e8eaf6;
	}
	table, tr, td{
		width: 100%;
	}
	#container{
		width: 80%;
		max-width: 700px;
		height: 100%;
		margin: 0 auto;
		background-color: #fff;
	}
	img{
		margin: 20px auto;
	}
</style>	
<table id="container">
	<tr>
		<td>
			<!-- Preheader template -->
			<table>
				<tr>
					<td>
						Ce message vous est envoyé automatiquement, merci de ne pas y répondre, il ne pourra être lu.
					</td>
				</tr>	
			</table>
			<!-- End Preheader template -->
			<table>
				<tr>
					<td>
						<!-- Header template -->
						<table id="header">
							<tr>
								<td>
									<img src='{{lienLogo}}' alt="Logo Rhenus corner">
								</td>
							</tr>
						</table>
						<!-- End Header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- Body template -->
						<table>
							<tr>
								<td>
									<p style=" margin: 10px 0;">{{content}}</p>
									{{#each annonces}}
										{{>annonces_template}}
									{{/each}}
									<br>
									<p style=" margin: 10px 0;">{{footer}}</p>
								</td>
							</tr>
						</table>
						<!-- End Body template -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- Footer template -->
						<table>
							<tr>
								<td>
								
								</td>
							</tr>
						</table>
						<!-- End Footer template -->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>