<template name="newslettersEdit">
	<div class="container">
		<div class="card center-align">
			{{#autoForm collection="Newsletters" id="Newsletters" doc=me type="update"}}
	        	<div class="card-content blue-text">
	          		<span class="card-title">Paramètrage de vos newsletters</span>
					{{> afQuickField name='frequency'}}
					{{> afQuickField name='favoriteCategories'}}
	    		</div>
	    		<div class="card-action center-align">
					<button type="submit" class="btn btn-primary">Modifier</button>
					<a href="{{pathFor 'userProfile'}}" class="btn btn-default red">Annuler</a>
				</div>
			{{/autoForm}}
		</div>
	</div>
</template>