<template name="userHeader">
    <li><a href="{{pathFor 'listeAnnonces'}}" class="white-text">Annonces</a></li>
    <li><a href="{{pathFor 'AnnonceAdd'}}" class="white-text">Nouvelle annonce</a></li>
</template>
