<template name="adminHeader">
    <li><a href="{{pathFor 'categoriesList'}}">Catégories</a></li>
    <li><a href="{{pathFor 'qualitiesList'}}">Qualités des produits</a></li>
    <li><a href="{{pathFor 'sitesList'}}">Sites</a></li>
    <li><a href="{{pathFor 'usersList'}}">Utilisateurs</a></li>
    <li><a href="{{pathFor 'Admin'}}">Statistiques</a></li>
</template>
