<template name="header">
	<header>
		<nav class="blue">
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">RHENUS CORNER</a>
				<a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					{{#if currentUser}}
    					<li><a href="{{pathFor 'userProfile'}}" class="white-text">Mon profil</a></li>
						{{#if currentUser.profile.isAdmin}}
							{{> adminHeader}}
						{{else}}
							{{> userHeader}}
						{{/if}}
						<li><a class="logout">Déconnectez-vous</a></li>
					{{/if}}
				</ul>
				<ul class="side-nav grey" id="mobile">
					{{#if currentUser}}
						<li><a href="{{pathFor 'userProfile'}}" class="white-text">Mon profil</a></li>
						{{#if currentUser.profile.isAdmin}}
							{{> adminHeader}}
						{{else}}
							{{> userHeader}}
						{{/if}}
						<li><a class="logout white-text">Déconnectez-vous</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>
	</header>
</template>
